@import "partials/color-vars";
$base-fontfamily: sans-serif;
%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: inherit;
}
body {
  font: 100%/1.375 $base-fontfamily;
  position: relative;
  background-color: $base00;
  box-sizing: border-box;
}
h1 {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  margin-left: 1em;
}
a {
  color: $red;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.lt-ie9 .big-icon {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}
.lt-ie9 .big-icon svg {
  display: none;
}
.big-icon {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
// .lt-ie9 .c-1_big-icon {
// background-image: url(../img/bg/atelier-logo_300x300.png);
// }
// .lt-ie9 .c-2_big-icon {
// background-image: url(../img/bg/gallery-icon_300x300.png);
// }
// .lt-ie9 .c-3_big-icon {
// background-image: url(../img/bg/webdesign-icon_300x300.png);
// }
// .lt-ie9 .c-4_big-icon {
// background-image: url(../img/bg/contact-icon_300x300.png);
// }
.c-1_big-icon {
  right: -24px;
}
.c-3_big-icon {
  right: 2px;
}
.c-1_big-icon,
.c-2_big-icon {
  bottom: 2px;
}
.c-2_big-icon,
.c-4_big-icon {
  left: 2px;
}
.c-3_big-icon,
.c-4_big-icon {
  top: 2px;
}
.c-1 {
  background-color: $yellow-light;
  background: linear-gradient($yellow-light, $yellow-light 50%, $base00 50%, $base00);
}
.c-2 {
  background-color: $red;
  background: linear-gradient($red, $red 50%, $blue 50%, $blue);
}
.c-3 {
  background-color: $blue;
  background: linear-gradient($blue, $blue 50%, $red 50%, $red);
}
.c-4 {
  background-color: $base00;
  background: linear-gradient($base00, $base00 50%, $yellow-light 50%, $yellow-light);
}
.box {
  position: relative;
  z-index: 1;
  display: block;
  width: 50%;
  min-height: 300px;
  height: 50%;
  height: 50vh;
  float: left;
  margin: -1px 0 0 -1px;
  color: $base07;
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
}
.box h2 {
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 1.2;
  padding-top: 1em;
}
.box h3 {
  font: 0.8em "Lucida Grande", Corbel, sans-serif;
}
.is-visible:hover,
.box:hover {
  background-position: 100% 100%;
}
.box:hover h2 {
  color: #48ad26;
  color: #6DAE00;
}
.box:hover h2 span {
  color: white;
}
.box:hover h3 {
  color: silver;
}

// @keyframes up-bump {
//   0% { padding-top: calc(50vh - 390px); }
//   50% { padding-top: calc(50vh - 394px); }
//   100% { padding-top: calc(50vh - 390px); }
// }
@keyframes down-bump {
  0% { padding-top: calc(50vh - 390px); }
  50% { padding-top: calc(50vh - 386px); }
  100% { padding-top: calc(50vh - 390px); }
}
.box p {
  @extend %visuallyhidden;
}
.c-1 p {
  color: $yellow;
}
.c-2 p {
  color: $red;
}
.c-3 p {
  color: $blue;
}
.c-4 p {
  color: $base00;
}
.c-2 p,
.c-4 p {
  text-align: right;
}
.c-1:hover p {
  color: $yellow-light;
}
.c-2:hover p {
  /* color: #ffa280 ; */
  color: $red-light;
}
.c-3:hover p {
  color: $blue-light;
}
.c-4:hover p {
  color: $base00;
}
.c-3:hover h2 {
  color: $yellow;
}
.c-4:hover h2 {
  color: $red;
}
.c-4:hover h2 span {
  color: black;
}
.c-4:hover h3 {
  color: $base00;
}
.c-1 {
  color: black;
}
.mt-274 {
  margin-top: 274px;
}
.mt-226 {
  margin-top: 226px;
}
.is-visible:hover .atelier-name path,
.c-1:hover .atelier-name path {
  fill: adjust-color($base06,$lightness:-15%);
  stroke: transparent;
}
.is-visible:hover .bram-name path,
.c-1:hover .bram-name path {
  fill:  adjust-color($base06,$lightness:-10%);
  stroke: transparent;
}

.is-visible:hover .tagline path,
.c-1:hover .tagline path {
  fill:  adjust-color($base06,$lightness:-20%);
  // fill: $base06;
  stroke: transparent;
  // stroke: $base07;
}
.c-2:hover .walls {
  fill: $red;
}
.c-2:hover .side-surface {
  fill: $base07;
}

.c-3:hover .monitor-bg {
  fill: $blue;
}
.c-3:hover .power-btn {
  fill: $base07;
}
.c-4:hover .envelop-bg {
  fill: $base00;
}
.c-4:hover .envelop-inner {
  fill: $base07;
}
.is-visible path,
.is-visible rect,
.is-visible polygon,
.box path,
.box rect,
.box polygon {
  transition: fill 1.5s;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} 
.logo-top {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  height: 100vh;
}
.is-visible {
  z-index: 9;
  background-color: $yellow-light;
}
.logo-top:active {
  background-color: transparent;
}
.is-visible {
  background-color: $yellow-light; background: linear-gradient($yellow-light, $yellow-light 50%, $base00 50%, $base00);
  padding: 2em;
  display: block;
  width: 100%;
  min-height: 300px;
  height: 100%;
  height: 100vh;
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.3s ease;
}
.is-visible svg {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  z-index: 14;
  left: calc(50% - 150px);
  top: 2em;
}

@media only screen and (max-width: 620px) {
  .box {
    width: 100%;
    height: 300px;
  }
  .big-icon {
    position: absolute;
    left: 2px;
    right: auto;
  }
  .box p,
  .box h2 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

}
@media only screen and (min-width: 620px) {
  .box {
    padding-top: calc(50vh - 390px);
  }
}


