lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rar
*.ai
*.psd

npm-debug.log
node_modules
pids
logs

release
/tmp/
/temp/
dist
vector
_patternlab
_test
_vector

TODO.md

*.sublime-project
*.sublime-workspace
