<header class="top-header abdh">
  <h1 class="site-title fn org man">
    <a href="{{var.root-url}}" class="url a-site-title block"><span class="visuallyhidden">{{var.sitetitle}}</span></a>
  </h1>

  <p id="tagline" class="tagline ">
  <a href="{{var.root-url}}/schilderijen" class="a-tagline block abdh"><span class="sp-tagline ir">2D design</span></a>
  </p>
</header>

