<nav class="nav container" role="navigation">
    <div class="primary-navigation">

      <ul class="ul-nav">{{#withSort pages 'data.sortOrder'}}<li><a href="{{autolink}}" {{isActive}}>{{data.short-title}}</a></li>{{/withSort}}</ul></div></nav>
