// Tonal Scale demo-tiles

.bg-D0 { background-color: $D0; color: $D9; }
.bg-D1 { background-color: $D1; color: $D10; }
.bg-D2 { background-color: $D2; color: $D11; }
.bg-D3 { background-color: $D3; color: $D12; }
.bg-D4 { background-color: $D4; color: $D13; }
.bg-D5 { background-color: $D5; color: $D14; }
.bg-D6 { background-color: $D6; color: $D15; }
.bg-D7 { background-color: $D7; color: $D16; }
.bg-D8 { background-color: $D8; color: $D17; }
.bg-D9 { background-color: $D9; color: $D18; }
.bg-D10 { background-color: $D10; color: $D19; }
.bg-D11 { background-color: $D11; color: $D0; }
.bg-D12 { background-color: $D12; color: $D1; }
.bg-D13 { background-color: $D13; color: $D2; }
.bg-D14 { background-color: $D14; color: $D3; }
.bg-D15 { background-color: $D15; color: $D4; }
.bg-D16 { background-color: $D16; color: $D5; }
.bg-D17 { background-color: $D17; color: $D6; }
.bg-D18 { background-color: $D18; color: $D7; }
.bg-D19 { background-color: $D19; color: $D8; }
.bg-D20 { background-color: $D20; color: $D9; }
.bg-D21 { background-color: $D21; color: $D10; }
.bg-D22 { background-color: $D22; color: $D11; }
.bg-D23 { background-color: $D23; color: $D12; }

.bg-K0 { background-color: $K0; color: $K9; }
.bg-K1 { background-color: $K1; color: $K10; }
.bg-K2 { background-color: $K2; color: $K11; }
.bg-K3 { background-color: $K3; color: $K12; }
.bg-K4 { background-color: $K4; color: $K13; }
.bg-K5 { background-color: $K5; color: $K14; }
.bg-K6 { background-color: $K6; color: $K15; }
.bg-K7 { background-color: $K7; color: $K16; }
.bg-K8 { background-color: $K8; color: $K17; }
.bg-K9 { background-color: $K9; color: $K18; }
.bg-K10 { background-color: $K10; color: $K19; }
.bg-K11 { background-color: $K11; color: $K0; }
.bg-K12 { background-color: $K12; color: $K1; }
.bg-K13 { background-color: $K13; color: $K2; }
.bg-K14 { background-color: $K14; color: $K3; }
.bg-K15 { background-color: $K15; color: $K4; }
.bg-K16 { background-color: $K16; color: $K5; }
.bg-K17 { background-color: $K17; color: $K6; }
.bg-K18 { background-color: $K18; color: $K7; }
.bg-K19 { background-color: $K19; color: $K8; }
.bg-K20 { background-color: $K20; color: $K9; }
.bg-K21 { background-color: $K21; color: $K10; }
.bg-K22 { background-color: $K22; color: $K11; }
.bg-K23 { background-color: $K23; color: $K12; }

.bg-O0 { background-color: $O0; color: $O9; }
.bg-O1 { background-color: $O1; color: $O10; }
.bg-O2 { background-color: $O2; color: $O11; }
.bg-O3 { background-color: $O3; color: $O12; }
.bg-O4 { background-color: $O4; color: $O13; }
.bg-O5 { background-color: $O5; color: $O14; }
.bg-O6 { background-color: $O6; color: $O15; }
.bg-O7 { background-color: $O7; color: $O16; }
.bg-O8 { background-color: $O8; color: $O17; }
.bg-O9 { background-color: $O9; color: $O18; }
.bg-O10 { background-color: $O10; color: $O19; }
.bg-O11 { background-color: $O11; color: $O0; }
.bg-O12 { background-color: $O12; color: $O1; }
.bg-O13 { background-color: $O13; color: $O2; }
.bg-O14 { background-color: $O14; color: $O3; }
.bg-O15 { background-color: $O15; color: $O4; }
.bg-O16 { background-color: $O16; color: $O5; }
.bg-O17 { background-color: $O17; color: $O6; }
.bg-O18 { background-color: $O18; color: $O7; }
.bg-O19 { background-color: $O19; color: $O8; }
.bg-O20 { background-color: $O20; color: $O9; }
.bg-O21 { background-color: $O21; color: $O10; }
.bg-O22 { background-color: $O22; color: $O11; }
.bg-O23 { background-color: $O23; color: $O12; }

.bg-A0 { background-color: $A0; color: $A9; }
.bg-A1 { background-color: $A1; color: $A10; }
.bg-A2 { background-color: $A2; color: $A11; }
.bg-A3 { background-color: $A3; color: $A12; }
.bg-A4 { background-color: $A4; color: $A13; }
.bg-A5 { background-color: $A5; color: $A14; }
.bg-A6 { background-color: $A6; color: $A15; }
.bg-A7 { background-color: $A7; color: $A16; }
.bg-A8 { background-color: $A8; color: $A17; }
.bg-A9 { background-color: $A9; color: $A18; }
.bg-A10 { background-color: $A10; color: $A19; }
.bg-A11 { background-color: $A11; color: $A0; }
.bg-A12 { background-color: $A12; color: $A1; }
.bg-A13 { background-color: $A13; color: $A2; }
.bg-A14 { background-color: $A14; color: $A3; }
.bg-A15 { background-color: $A15; color: $A4; }
.bg-A16 { background-color: $A16; color: $A5; }
.bg-A17 { background-color: $A17; color: $A6; }
.bg-A18 { background-color: $A18; color: $A7; }
.bg-A19 { background-color: $A19; color: $A8; }
.bg-A20 { background-color: $A20; color: $A9; }
.bg-A21 { background-color: $A21; color: $A10; }
.bg-A22 { background-color: $A22; color: $A11; }
.bg-A23 { background-color: $A23; color: $A12; }

.bg-S0 { background-color: $S0; color: $S9; }
.bg-S1 { background-color: $S1; color: $S10; }
.bg-S2 { background-color: $S2; color: $S11; }
.bg-S3 { background-color: $S3; color: $S12; }
.bg-S4 { background-color: $S4; color: $S13; }
.bg-S5 { background-color: $S5; color: $S14; }
.bg-S6 { background-color: $S6; color: $S15; }
.bg-S7 { background-color: $S7; color: $S16; }
.bg-S8 { background-color: $S8; color: $S17; }
.bg-S9 { background-color: $S9; color: $S18; }
.bg-S10 { background-color: $S10; color: $S19; }
.bg-S11 { background-color: $S11; color: $S0; }
.bg-S12 { background-color: $S12; color: $S1; }
.bg-S13 { background-color: $S13; color: $S2; }
.bg-S14 { background-color: $S14; color: $S3; }
.bg-S15 { background-color: $S15; color: $S4; }
.bg-S16 { background-color: $S16; color: $S5; }
.bg-S17 { background-color: $S17; color: $S6; }
.bg-S18 { background-color: $S18; color: $S7; }
.bg-S19 { background-color: $S19; color: $S8; }
.bg-S20 { background-color: $S20; color: $S9; }
.bg-S21 { background-color: $S21; color: $S10; }
.bg-S22 { background-color: $S22; color: $S11; }
.bg-S23 { background-color: $S23; color: $S12; }

.bg-dd0 { background-color: $dd0; color: $dd9; }
.bg-dd1 { background-color: $dd1; color: $dd10; }
.bg-dd2 { background-color: $dd2; color: $dd11; }
.bg-dd3 { background-color: $dd3; color: $dd12; }
.bg-dd4 { background-color: $dd4; color: $dd13; }
.bg-dd5 { background-color: $dd5; color: $dd14; }
.bg-dd6 { background-color: $dd6; color: $dd15; }
.bg-dd7 { background-color: $dd7; color: $dd16; }
.bg-dd8 { background-color: $dd8; color: $dd17; }
.bg-dd9 { background-color: $dd9; color: $dd18; }
.bg-dd10 { background-color: $dd10; color: $dd19; }
.bg-dd11 { background-color: $dd11; color: $dd0; }
.bg-dd12 { background-color: $dd12; color: $dd1; }
.bg-dd13 { background-color: $dd13; color: $dd2; }
.bg-dd14 { background-color: $dd14; color: $dd3; }
.bg-dd15 { background-color: $dd15; color: $dd4; }
.bg-dd16 { background-color: $dd16; color: $dd5; }
.bg-dd17 { background-color: $dd17; color: $dd6; }
.bg-dd18 { background-color: $dd18; color: $dd7; }
.bg-dd19 { background-color: $dd19; color: $dd8; }
.bg-dd20 { background-color: $dd20; color: $dd9; }
.bg-dd21 { background-color: $dd21; color: $dd10; }
.bg-dd22 { background-color: $dd22; color: $dd11; }
.bg-dd23 { background-color: $dd23; color: $dd12; }

.bg-d0 { background-color: $d0; color: $d9; }
.bg-d1 { background-color: $d1; color: $d10; }
.bg-d2 { background-color: $d2; color: $d11; }
.bg-d3 { background-color: $d3; color: $d12; }
.bg-d4 { background-color: $d4; color: $d13; }
.bg-d5 { background-color: $d5; color: $d14; }
.bg-d6 { background-color: $d6; color: $d15; }
.bg-d7 { background-color: $d7; color: $d16; }
.bg-d8 { background-color: $d8; color: $d17; }
.bg-d9 { background-color: $d9; color: $d18; }
.bg-d10 { background-color: $d10; color: $d19; }
.bg-d11 { background-color: $d11; color: $d0; }
.bg-d12 { background-color: $d12; color: $d1; }
.bg-d13 { background-color: $d13; color: $d2; }
.bg-d14 { background-color: $d14; color: $d3; }
.bg-d15 { background-color: $d15; color: $d4; }
.bg-d16 { background-color: $d16; color: $d5; }
.bg-d17 { background-color: $d17; color: $d6; }
.bg-d18 { background-color: $d18; color: $d7; }
.bg-d19 { background-color: $d19; color: $d8; }
.bg-d20 { background-color: $d20; color: $d9; }
.bg-d21 { background-color: $d21; color: $d10; }
.bg-d22 { background-color: $d22; color: $d11; }
.bg-d23 { background-color: $d23; color: $d12; }

.bg-o0 { background-color: $o0; color: $o9; }
.bg-o1 { background-color: $o1; color: $o10; }
.bg-o2 { background-color: $o2; color: $o11; }
.bg-o3 { background-color: $o3; color: $o12; }
.bg-o4 { background-color: $o4; color: $o13; }
.bg-o5 { background-color: $o5; color: $o14; }
.bg-o6 { background-color: $o6; color: $o15; }
.bg-o7 { background-color: $o7; color: $o16; }
.bg-o8 { background-color: $o8; color: $o17; }
.bg-o9 { background-color: $o9; color: $o18; }
.bg-o10 { background-color: $o10; color: $o19; }
.bg-o11 { background-color: $o11; color: $o0; }
.bg-o12 { background-color: $o12; color: $o1; }
.bg-o13 { background-color: $o13; color: $o2; }
.bg-o14 { background-color: $o14; color: $o3; }
.bg-o15 { background-color: $o15; color: $o4; }
.bg-o16 { background-color: $o16; color: $o5; }
.bg-o17 { background-color: $o17; color: $o6; }
.bg-o18 { background-color: $o18; color: $o7; }
.bg-o19 { background-color: $o19; color: $o8; }
.bg-o20 { background-color: $o20; color: $o9; }
.bg-o21 { background-color: $o21; color: $o10; }
.bg-o22 { background-color: $o22; color: $o11; }
.bg-o23 { background-color: $o23; color: $o12; }

// generic demo styles
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.bg-dark,
.bg-dark body {
  background-color: $D11;
  color: $D0;
}

body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  min-height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
  // uncomment for production = for visual grid
  // position: relative;
  // min-height: 500vh;
}

// toggle visual grid 20px x 20px
// uncomment for production = for visual grid
// body:after {
//   content: "";
//   position: absolute;
//   top:0;right:0;bottom:0;left:0;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Crect fill='rgba(0,0,0,.05)' width='20' height='20'/%3E%3C/svg%3E");
//   z-index: -1;
// }

section {
  padding-bottom: 5em;
}

// override inital hiding in head styles
nav,
.container-flex,
h3,
section {
  opacity: 1;
}

ul {
  list-style: none;
}

sup,
small,
.small {
  font-size: .875em;
}

.wf-active body,
.wf-active button,
.wf-active .button {
  font-family: infiniregular, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

h1, h2, h3, h4 {
  display: inline-block;
  margin: 0;
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  font-weight: normal;
}

h4 {
  font-family: AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

.code-samples .h4 {
  margin: 1rem 0 0 1rem;
  text-transform: capitalize;
}

.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: infiniregular, AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

.wf-active h4 {
  font-family: infiniregular, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

.wf-active strong {
  font-weight: normal;
}

.bg-dark .col h3 {
  color: $D1;
}

// .note h3 {
//   color: $C0;
// }

// .bg-light .col h3 {
//   color: $D5;
// }
a {
  text-decoration: none;
}

.content a {
  display: inline-block;
  line-height: 1.25;
  color: $D6;

 &:hover {
   color: $D7;
   box-shadow: 0 .1em 0 $D7;
 }

}

// .note a {
//   color: adjust-color($D1, $saturation: 15%);
//  &:hover {
//    color: $D3;
//    box-shadow: 0 4px 0 $D4;
//   // color: adjust-color($D3, $lightness: 5%);
//  }
// }

.container {
  max-width: 100%;
  overflow: auto;
}

.header,
.footer {
  width: 100%;
  text-align: center;
  color: $D0;
  background-color: $d19;
}

// .github-corner svg[style] {
//   fill: $D0 !important;
// }

// .bg-dark
.github-corner svg[style] {
  transition: .3s all;
  fill: $D14 !important;
  color: $D8 !important;
}

// .bg-dark
.github-corner:hover svg[style] {
  fill: $D13 !important;
  color: $D10 !important;
}

.header {
  padding: 2em 1em;
  text-align: center;
  position: relative;

  @media(min-width: 860px) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 80% 75%, 75% 100%, 25% 100%, 20% 75%, 0 67%);
    clip-path: polygon(0 0, 100% 0, 100% 67%, 80% 75%, 75% 100%, 25% 100%, 20% 75%, 0 67%);
    padding-top: .5em;
    padding-bottom: 10em;
  }
}

.header p {
  font-size: 1em;
  padding-top: 1em;
  margin: 0;
  letter-spacing: 1px;
  word-spacing: -1px;

  @media(max-width: 639px) {
    font-size: .875em;
  }

  @media(min-width: 860px) {
    position: absolute;
    bottom:0;left:0;right:0;
    padding-bottom: 2em;
  }
}

.header p,
.btn-text,
.footer small {
  letter-spacing: 1px;
  word-spacing: -1px;
}

.footer {
  padding: 1.5em 0 2em;
  letter-spacing: 1px;
  word-spacing: -1px;
}

.header a,
.footer a {
  color: $D4;
  transition: all .3s;
  &:hover {
    color: $D6;
  }
}

img,
svg {
  max-width: 100%;
}

// begin flex layout
.container-flex {
  position: relative;

  // @media(min-width: 640px) {
  //   display: flex;
  // }
}

.row,
.content {
  padding-left:  1.5em;
  padding-right: 1.5em;

  @media(min-width: 641px) {
    padding-left:  5%;
    padding-right: 5%;
  }
}


.content {
  padding-bottom: 5em;
  transition: all .3s;
  margin-top: 2.6em;
  min-height: calc(100vh - 285px); // sticky footer

  @media(min-width: 53.75em) {
    min-height: calc(100vh - 360px);
  }
}

// .no-flexbox .content {
//   @media(min-width: 640px) {
//     width: auto;
//   }
// }

// .js .has-themes-hidden {
//   width: 100%;
//   margin-top: 0;
// }
//
// .nav-themes-hidden ~ .content {
//   padding-top: 3em;
//
//   @media(min-width: 928px) {
//     padding-top: 2em;
//   }
// }

// .nav-themes-open ~ .content {
//
//   @media(min-width: 640px) and (max-width: 927px) {
//     padding-top: 3em;
//   }
// }

// .nav-themes {
//   // flex-grow: 1;
//   transition: all .3s;
// }
//
// .bg-dark .nav-themes {
//   background-color: $A1;
// }
//
// .nav-themes-open {
//   @media(max-width: 860px) {
//     padding-top: 3em;
//   }
//
//   @media(max-width: 639px) {
//     width: 100%;
//   }
//   @media(min-width: 640px) {
//     width: 20%;
//     min-width: 8rem;
//   }
// }
//
// .no-flexbox .nav-themes-open {
//   @media(min-width: 640px) {
//     float: left;
//     margin-right: 3em;
//   }
// }
//
// .nav-themes-hidden {
//   width: 0;
//   overflow: hidden;
// }
//
// .js .nav-themes-hidden {
//
//   @media(max-width:639px) {
//     height: 0;
//   }
// }
//
// .nav-themes_list {
//   display: flex;
//   flex-direction: column;
// }
//
// .nav-themes_list a {
//   display: block;
//   display: flex;
//   padding: .5em 1em;
// }
// end flex layout

// typography
// .content p {
//   // color: $D19;
//   max-width: 35em;
//   padding: .5em 0;
// }
//
// .wf-active .quote {
//   font-family: infiniitalic, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
//   font-style: normal;
// }
//
// .quote p {
//   margin-top: 2em;
//   margin-bottom: 2em;
//   padding: 1em 2em;
//   background-color: $D19;
//   color: $A3;
//   border-style: solid;
//   border-width: 1px;
//   border-top-color: adjust-color($D19, $lightness: 2.5%);
//   border-right-color: adjust-color($D19, $lightness: -2.5%);
//   border-bottom-color: $D6;
//   border-left-width: .75em;
//   border-left-color: $D5;
//
//   @media(min-width: 641px) {
//     font-size: 1.5em;
//   }
// }

// end typography
// * { outline: 1px dotted salmon; }

.demo-tiles {
  overflow: hidden;
  margin-bottom: 3em;
  // height: 160px; // stop from rescaling after button hit
  // height: 240px; // stop from rescaling after button hit
  height: 320px; // stop from rescaling after button hit
}

.demo-tiles.collapsed span {
  color: transparent;
}

.demo-tiles .unit > span {
  font-size: .8125em;
}

.unit {
  float: left;
  // width: 5%;
  width: 4.16667%;
  padding: .5em 0;
  text-align: center;
  transition: .3s all;
}

.hidden {
  width: 0;
  height: 0;
  padding: 0;
  float: none;
  opacity: 0;
}

.cf {
  // overflow: auto;
  overflow: hidden;
}

.w-1v2 {
  @media (min-width:750px) {
    float: left;
    width: 50%;
  }
}

.w-1v3 {
  width: 33.33333%;
}

.w-1v8 {
  width: 12.5%;
}

.demo-tiles-header {
  padding: 0 0 1em;
  display: block;
  overflow: auto;
}

.demo-tiles-header-text {
  display: block;

}

.bg-dark .demo-tiles-header-text,
.bg-dark .h3 {
  color: $A1;
}

.demo-tiles-header-text b {
  font-weight: normal;
}

.demo-tiles-header-text .number-shades {
  @media(max-width:650px) {
    display: block;
    clear: both;
  }
}

.bg-dark .demo-tiles-header-text .number-shades {
  color: $D19;
  letter-spacing: .5px;
  word-spacing: -.5px;
}

.demo-tiles-header .button {
  float: right;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  word-spacing: 1px;
}

.demo-tiles-header,
section h3 {
  margin: 1em 0 0 0;
}

.row-intro h3 {
  margin: 0;
  color: $A3;
}

button,
.content .button,
.credits a {
  letter-spacing: 1px;
  word-spacing: -1px;
}

button,
.content .button {
  -webkit-appearance: none;
  overflow: visible;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid;
  border-color: $D10 $D8 $D7;
  cursor: pointer;
  background-color: $D9;
  color: $D22;
  display: inline-block;
  outline: 0;
  margin: 3px 3px 5em .75em;
  padding: .75em 1em;
  // text-shadow: $A0 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font: normal 1rem/1.3 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  // letter-spacing: 1px;
  // word-spacing: -1px;
}

button:focus,
.content .button:focus {
  box-shadow: $D5 0 0 3px 0;
  z-index: 1;
}

button:hover,
.content .button:hover {
  color: $D19;
  box-shadow: none;
  background-color: $D8;
  text-decoration: none;
}

button:active,
.content .button:active {
  box-shadow: inset rgba($D3, 0.25) 0 1px 2px 0;
  border-color: $D7 $D6 $D5;
}

button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.outer {
  text-align: center;
  background-color: $A0;
  padding: 3em;
}
.inner {
  background-color: transparentize($D3,.25);
  min-height: 300px;
}

.row {
  padding-top: 3em;
  padding-bottom: 4em;
  margin-right: -1.5em;
  margin-left: -1.5em;

  @media(min-width: 641px) {
    margin-right: -7%;
    margin-left: -7%;
  }
}

// http://rscss.io/
// helpers
._mbs {
  margin-bottom: .5rem !important;
}
._mtm {
  margin-top: 1rem !important;
}
._mtl {
  margin-top: 1.5rem !important;
}
._mbl {
  margin-bottom: 1.5rem !important;
}
._mbxl {
  margin-bottom: 2rem !important;
}

.mw-75vh {
  max-width: 75vh;
}

// .center {
//   margin: 0 auto;
// }

.fs-larger {
  font-size: 1.25em;
}

// .note {
//   background-color: $C5;
// }
//
// .row.note {
//   padding-top: 0;
// }

// lists
// .list-bullets {
//   padding: 0 .5em;
//   margin: .5em 0 .5em -.45rem;
// }
//
// .list-bullets li {
//   position: relative;
//   margin-left: -.75em;
//   padding-left: .75em;
// }
//
// .list-bullets li::before {
//   content: " \B7"; /* middot in unicode -> &middot; */
//   font-size: 1.25em;
//   color: $C1;
//   line-height: 1;
//   display: inline-block;
//   vertical-align: top;
//   padding-right: 3px;
// }

// end helpers
@media (min-width:750px) {
  pre[class*="language-"],
  .code-samples pre[class*="language-"] {
    padding: 1.5em 2em;
    font-size: 16px;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.125em;
  }

  button,
  .button {
    font-size: 1.25rem;
  }

}

