// * {
//   outline: 1px dotted salmon;
// }
.cta {
  background-color: $D21;
  background-image: linear-gradient(to right,$D22,$D21 75%,$D20);
  margin-left: -2rem;
  margin-right: -2rem;
  padding: .75rem 2rem 1.5rem;
  max-width: fit-content;

  h3 {
    max-width: 30ch;
    color: $D4;
  }
  p {
    color: $D2;
  }
  .article-intro_text {
    a {
      color: $C3;
      &:hover {
        color: $C6;
      }
    }
  }
  .theme-dark & {
    box-shadow: 2px 6px 14px $D1;
    background-color: $D8;
    background-image: linear-gradient(to right,$D10,$D8 75%,$D7);

    h3,
    p {
      letter-spacing: 0.04em !important;
      word-spacing: 0;
    }
    h3 {
      font-family: "Brando Light", brandosans-regular-v100, AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Noto Sans, sans-serif;
      color: $D21;
      // letter-spacing: 0.04em;
    }
    p {
      color: $D22;
    }
    a {
      color: $D23;
      &:hover {
        color: $C21;
      }
    }

    // .article-intro_text {
    //   font-weight: 400;
    //   font-variation-settings: "wght" 525;
    // }
  }

  @include mq($from: phablet) {
    // display: inline-block;
    border-radius: 3px;
    transform: rotate(-4deg);
    box-shadow: 2px 6px 14px rgba($d12,.5);
  }
  @include mq($from: tablet) {
    margin: auto;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  @include mq($from: wide-l) {
    position: fixed;
    top: 0;
    right: 0;
  }
}
