*,
::before,
::after {
  // background-repeat: no-repeat;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body,
.site {
  background-color: $d23;
}

html,
body {
  min-height: 100%;

}

.theme-dark {
  background-color: $d2;
  body,
  .site {
    background-color: $d2;
  }
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpolygon points='4.25 0 0.25 8 0 8 4 0 ' fill='%23dcd8d1'/%3E%3Cpolygon points='8 0.5 4.25 8 4 8 8 0 ' fill='%23dcd8d1'/%3E%3Cpolygon points='0 0.5 0 0 0.25 0 ' fill='%23dcd8d1'/%3E%3C/svg%3E");

  .theme-dark & {
   font-family: BrandoSansLight, AvenirNext-UltraLight, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Noto Sans, sans-serif;
    color: $d19;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpolygon points='4.25 0 0.25 8 0 8 4 0 ' fill='%23433f38'/%3E%3Cpolygon points='8 0.5 4.25 8 4 8 8 0 ' fill='%23433f38'/%3E%3Cpolygon points='0 0.5 0 0 0.25 0 ' fill='%23433f38'/%3E%3C/svg%3E");
  }
}

html {
  cursor: default;

  font-size: 16px;
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  scrollbar-width: thin;
  scrollbar-color: $d20 $d23;

  &.theme-dark {
    scrollbar-color: $d6 $d2;
  }

  @include mq($until: phablet) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font: 100%/1.5 brandosans-regular-v100, AvenirNext-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Noto Sans, sans-serif;
  // color: $d5;
  color: $dd5;

  @include mq($until: phablet) {
    line-height: 1.35;
  }
}

// h1 {
//   font-size: 1em;
// }

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
  margin-top: 18px;
  margin-bottom: 9em;

  @include mq($from: phablet) {
    margin-top: 22px;
  }
}

p,
ul {
  padding: 0 0 .75em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

ol,
ul {
  list-style: none;
}

p,
ol,
ul,
h1,
h2,
h3 {
  margin: 0;
}
h2,h3 {
  text-wrap: balance;
  padding: 1.4rem 0 .85rem;
}

pre {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
  font-size: 1em;
}

a {
  color: $D0; // zie: _elements-critical
  text-decoration: underline;
  background-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
  transition: .3s all $ease-out-quint;
  &:hover {
    color: $D9;
  }
  .theme-dark & {
    color: $D23; // zie: _elements-critical
    &:hover {
      color: $D14;
    }
  }

}

sup {
  line-height: 1;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-family: brandosans-semibold-v100, AvenirNext-Regular, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Noto Sans",sans-serif;
  font-weight: normal;
}

// code,
// kbd,
// samp {
//   font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
//   font-size: 1em;
// }

small {
  font-size: 80%;
}

::-moz-selection {
  background-color: $D20;
  color: $D0;
  text-shadow: none;
}

::selection {
  background-color: $D18;
  color: $D0;
  text-shadow: none;
}

// video,
// audio,
// canvas,
// iframe,
img,
svg {
  vertical-align: middle;
}

// audio,
// video {
//   display: inline-block;
// }

// audio:not([controls]) {
//   display: none;
//   height: 0;
// }

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

// table {
//   border-collapse: collapse;
// }

// select,
// textarea,
input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
//
// select,
button,
input {
  margin: 0;
  overflow: visible;
}
//
button {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  padding: 0;
  border: 0;
  cursor: pointer;
  touch-action: manipulation;
}
//
// button,
// [type="button"],
// [type="reset"],
// [type="submit"] {
//   -webkit-appearance: button;
// }
//
// fieldset {
//   padding: 0.35em 0.75em 0.625em;
// }
//
// input {
//   overflow: visible;
// }
//
// legend {
//   color: inherit;
//   display: table;
//   max-width: 100%;
//   white-space: normal;
// }
//
// progress {
//   display: inline-block;
//   vertical-align: baseline;
// }
//
// select {
//   text-transform: none;
// }
//
// textarea {
//   margin: 0;
//   overflow: auto;
//   resize: vertical;
// }
//
// [type="checkbox"],
// [type="radio"] {
//   padding: 0;
// }
//
// [type="search"] {
//   -webkit-appearance: textfield;
//   outline-offset: -2px;
// }
//
// ::-webkit-inner-spin-button,
// ::-webkit-outer-spin-button {
//   height: auto;
// }
//
// ::-webkit-input-placeholder {
//   color: inherit;
//   opacity: 0.54;
// }
//
// ::-webkit-search-decoration {
//   -webkit-appearance: none;
// }
//
// ::-webkit-file-upload-button {
//   -webkit-appearance: button;
//   font: inherit;
// }
//
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

// details {
//   display: block;
// }
//
// dialog {
//   background-color: white;
//   border: solid;
//   color: black;
//   display: block;
//   height: -moz-fit-content;
//   height: -webkit-fit-content;
//   height: fit-content;
//   left: 0;
//   margin: auto;
//   padding: 1em;
//   position: absolute;
//   right: 0;
//   width: -moz-fit-content;
//   width: -webkit-fit-content;
//   width: fit-content;
// }
//
// dialog:not([open]) {
//   display: none;
// }
//
// summary {
//   display: list-item;
// }
//
// canvas {
//   display: inline-block;
// }
//
// template {
//   display: none;
// }

// area,
// input,
// label,
// select,
// summary,
// textarea,
// [tabindex],
input,
button,
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

// [hidden] {
//   display: none;
// }
//
// [aria-busy="true"] {
//   cursor: progress;
// }
//
//
// [aria-controls] {
//   cursor: pointer;
// }
//
// [aria-disabled="true"],
// [disabled] {
//   cursor: not-allowed;
// }
//
// [aria-hidden="false"][hidden]:not(:focus) {
//   clip: rect(0, 0, 0, 0);
//   display: inherit;
//   position: absolute;
// }

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 2px rgba($o0,0.25);
  background-color: $d23;
  .theme-dark & {
    background-color: $d2;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $d23;
  .theme-dark & {
    background-color: $d2;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  // box-shadow: inset 0 0 2px rgba($o0,.25);
  background-color: $d20;
  border: 3px solid $d23;
  border-top-width: 1px;
  border-bottom-width: 1px;

  .theme-dark & {
    background-color: $d6;
    border-color: $d2;
  }
}

