$base00: #201f1e;
$base01: #2d2c2a;
$base02: #474743;
$base03: #54544f;
$base04: #61615c;
$base05: #6e6e68;
$base06: #e9e9e7;
$base07: #fafafa;

$base08: #b30;
$base09: #9c6916;
$base0a: #e2d112;
$base0b: #647010;
$base0c: #0f6745;
$base0d: #00478f;
$base0e: #393c65;
$base0f: #9c2816;

$red:     $base08;
$orange:  $base09;
$yellow:  $base0a;
$green:   $base0b;
$cyan:    $base0c;
$blue:    $base0d;
$violet:  $base0e;
$magenta: $base0f;

$yellow-orange: mix($yellow,$orange,50%);
$orange-red: mix($orange,$red,50%);
$red-magenta: mix($red,$magenta,50%);
$magenta-violet: mix($magenta,$violet,50%);
$violet-blue: mix($violet,$blue,50%);
$blue-cyan: mix($blue,$cyan,50%);
$cyan-green: mix($cyan,$green,50%);
$green-yellow: mix($green,$yellow,50%);


// $red: #b30;
// $yellow: #f5e000;
// $blue: #00478f;
// $brown: #23231a;
// $brown: $base00;
// $light-yellow: #f5e000;
// $yellow-light: #f5e000;
$yellow-light: #f2de03;
// $light-red: #ffb499;
$red-light: #ffb499;
$blue-light: #9cf;
$brown-light: #bebea7;
// $dark-brown: #0f0f0b;
$dark-brown: adjust-color($base00,$lightness: 5%);
