$red: #b30;
$yellow: #f5e000;
$blue: #00478f;
$brown: #23231a;
$light-yellow: #fff799;
$light-red: #ffb499;
$light-blue: #9cf;
$light-brown: #bebea7;
$dark-brown: #0f0f0b;
$base-fontfamily: sans-serif;
